@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="forgot-password-container">
    <div class="forgot-password-card">
        <h1 class="forgot-password-title">@ViewData["Title"]</h1>
        <div class="forgot-password-subtitle">Enter your email to receive a password reset link.</div>
        <form method="post" class="forgot-password-form">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/profile/auth/forgotPassword.css" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
